<% include partials/header %>
<h1>Create a New Campground</h1>

<form class="" action="/campgrounds" method="post">
    <input type="text" name="name" value="" placeholder="name">
    <input type="text" name="image" value="" placeholder="image_url">
    <button>Submit</button>
</form>

<a href="/campgrounds">Go Back!</a>
<% include partials/footer %>
