<% include partials/header %>

<div class="container">
  <ul class="w-50 m-auto" style="list-style: none;">
    <li><h2><%= campground.name %></h2></li>
    <li><img src="<%= campground.image %>" alt="campground photo"></li>
    <li><%= campground.description %></li>
  </ul>
</div>

<% include partials/footer %>
